/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 22, 2024, 10:25:17 AM
    Author     : Nhatthang
*/

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
}
.form-group textarea {
    resize: vertical;
}
.panel-body {
    padding: 20px;
}