<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.account.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>controller.account.DispatcherAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.account.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAccountListServlet</servlet-name>
        <servlet-class>controller.account.ShowAccountListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>controller.account.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccountInfoServlet</servlet-name>
        <servlet-class>controller.account.GetAccountInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>controller.account.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>controller.account.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveAccountServlet</servlet-name>
        <servlet-class>controller.account.ActiveAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherProductServlet</servlet-name>
        <servlet-class>controller.product.DispatcherProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductListServlet</servlet-name>
        <servlet-class>controller.product.ShowProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCategoryListServlet</servlet-name>
        <servlet-class>controller.product.ShowCategoryListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAccountListServlet</servlet-name>
        <url-pattern>/ShowAccountListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/AddAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccountInfoServlet</servlet-name>
        <url-pattern>/GetAccountInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveAccountServlet</servlet-name>
        <url-pattern>/ActiveAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherProductServlet</servlet-name>
        <url-pattern>/DispatcherProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductListServlet</servlet-name>
        <url-pattern>/ShowProductListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCategoryListServlet</servlet-name>
        <url-pattern>/ShowCategoryListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>hostname</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>instanceName</param-name>
        <param-value>NHATTHANG</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>ProductIntro</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>sa123456</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>dashboard.jsp</welcome-file>
    </welcome-file-list>
</web-app>
